* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali container */
.container {
  width: 80%;
  margin: auto;
  background-color: rgb(244, 249, 253);
}

.buttom {
  text-align: center;
}
.buttom a[href="#"] {
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
}

header {
  height: 50px;
}

.jumbotron{
  position: relative;
  display: inline-block;
}

.jumbotron img {
  max-width: 100%;
}

.jumbotron h1 {
  font-size: 40px;
}

.jumbotron h5, h6{
  margin: 15px 0;
}

.jumbotron-text {
  width: 450px;
  display: inline-block;
  position: absolute;
  left: 20px;
  margin: 50px;
}


.titolo {
  text-align: center;
  margin-bottom: 20px;
}

.titolo p {
  font-size: 10px;
  margin-top: 10px;
}

.cubo {
  width: 100px;
  margin: auto;
}

.cubo img {
  max-width: 100%;
}

#CRM {
  float: left;
  width: 20%;
  background-color: white;
  margin-left: 4%;
  text-align: center;
}

#CRM img {
  width: 100px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

#Text-CRM {
  float: left;
  width: 72%;
  background-color: white;
  margin-right: 4%;
  text-align: left;
}

.box {
  margin: 10px;
  padding: 10px;
}

.box h3, hr, p {
  display: inline-block;
}

.box hr {
  width: 400px;
  margin: 0 20px;
}

#services-latosx {
  float: left;
  width: 30%;
  margin-left: 3%;
}

#services-latodx{
  float: left;
  width: 30%;
  margin-right: 3%;
}
#services-centro {
  float: left;
  width: 30%;
  margin: 0 2%;
}

.second-boxes img {
  width: 80px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

.second-boxes {
  margin: 10px;
  padding: 10px;
  background-color: white;
}

.second-boxes h2, p, h3 {
  text-align: center;
  margin: 5px;
}

.second-boxes hr {
  width: 200px;
  margin: 30px 20px;
}


.second-boxes ul {
  list-style-type: none;
  margin: 20px 0;
}
