* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali container */
.container {
  width: 80%;
  margin: auto;
  /* debug */
  background-color: rgb(244, 249, 253);
  height: 1000px;
  /* debug */
}

header {
  height: 50px;
}

.jumbotron{
  position: relative;
  display: inline-block;
}

.jumbotron img {
  max-width: 100%;
}

.jumbotron h1 {
  font-size: 40px;
}

.jumbotron h5, h6{
  margin: 15px 0;
}

.jumbotron-text {
  width: 450px;
  display: inline-block;
  position: absolute;
  left: 20px;
  margin: 50px;
}


.titolo {
  text-align: center;
  margin-bottom: 20px;
}

.titolo p {
  font-size: 10px;
  margin-top: 10px;
}

.cubo {
  width: 100px;
  margin: auto;
}

.cubo img {
  max-width: 100%;
}

#CRM {
  float: left;
  width: 20%;
  background-color: white;
  margin-left: 5%;
  text-align: center;
}

#CRM img {
  width: 100px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

#Text-CRM {
  float: left;
  width: 70%;
  background-color: white;
  margin-right: 5%;
}

.box {
  margin: 10px;
  padding: 10px;
}

.box p, span{
  margin: 5px 0;
}

.box h3, hr{
  display: inline-block;
}

.box hr {
  width: 400px;
  margin: 0 20px;
}


main {
  background-color: lightgrey;
}
