* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali container */
.container {
  width: 100%;
  /* margin: auto; */
  background-color: rgb(244, 249, 253);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: black;
}

.buttom {
  text-align: center;
}
.buttom a[href="#"] {
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
}

.buttom2 a[href="#"] {
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px;
}

.fa-check-circle {
  background-color: orange;
  border-radius: 49%;
}

.space {
  display: flex;
  justify-content: space-between;
}

.border {
  border-top: 1px solid black;
  background-color: white;
}
nav {
  margin-left: 70px;
  padding: 20px 0;
}

.nav-right{
display: inline-block;
margin-right: 70px;
padding: 20px 0;
}

select {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: rgb(244, 249, 253);
}

select:focus{
        outline: none;
        background-color: none;
        border: 0px solid;
}

.jumbotron{
  position: relative;
  display: inline-block;
}

.jumbotron img {
  max-width: 100%;
}

.jumbotron h1 {
  font-size: 40px;
}

.jumbotron h5, h6{
  margin: 15px 0;
}

.jumbotron-text {
  width: 450px;
  display: inline-block;
  position: absolute;
  left: 20px;
  margin: 50px;
}


.titolo {
  text-align: center;
  margin-bottom: 20px;
}

.titolo p {
  font-size: 10px;
  margin-top: 10px;
}

.cubo {
  width: 100px;
  margin: auto;
}

.cubo img {
  max-width: 100%;
}

#CRM {
  float: left;
  width: 20%;
  background-color: white;
  margin-left: 10%;
  text-align: center;
}

#CRM img {
  width: 100px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

#Text-CRM {
  float: left;
  width: 60%;
  background-color: white;
  margin-right: 10%;
}

.box {
  margin: 10px;
  padding: 10px;
}

.box h3, hr, {
  display: inline-block;
}

.box hr {
  width: 200px;
  margin: 0 20px;
}

#services-latosx {
  float: left;
  width: 27%;
  margin-left: 6%;
}

#services-latodx{
  float: left;
  width: 27%;
  margin-right: 6%;
}
#services-centro {
  float: left;
  width: 27%;
  margin: 0 3%;
}

.scatola img {
  width: 80px;
  margin: auto;
  display: block;
  margin-bottom: 25px;
}

.scatola {
  margin: 10px;
  padding: 10px;
  background-color: white;
}

div.scatola  h2, h3 {
  /* text-align: center; */
  margin: 5px;
}

.scatola hr {
  width: 200px;
  margin: 20px 20px;
}


.scatola ul {
  list-style-type: none;
  margin: 20px 0;
}

#contenuto {
  background-color: rgb(0, 181, 172);
  text-align: center;
  padding: 40px;
  margin-top: 20px;
  color: white;
}

#contenuto p {
  margin: 10px;
}

#parte-1 {
  margin-bottom: 20px;
}

.griglia {
  float: left;
  width: calc(100% / 4);
  min-height: 100%;
  padding: 5px;
  margin-top: 10px;
}

.riga1 h2 {
  margin: 10px 0;
}

.colonna4 h2 {
  margin: 16px 0;
}
